/* Estilos para el componente SearchBar */

.searchInput {
  border: 3px solid rgb(180, 81, 46);
  border-radius: 10px;
  padding: 8px;
  font-size: 16px;
  font-family: 'Helvetica Neue', sans-serif;
  margin-right: 10px;
  min-width: 200px; /*LArgo del input*/
  height: 50px;
  vertical-align: middle;
  

}

.button1 {
  
    background-color:rgb(180, 81, 46);
    background-position: 12%;
    background-size: auto 60%;
    background-repeat: no-repeat;
    border-radius: 10px;
    text-align: right;
    width: 100px;
    outline: 0;
    border: 0;
    margin: 10px;
  
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px; /* add 30 pixels of padding to the left side */
    padding-right: 30px; /* add 30 pixels of padding to the right side */
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: aliceblue;
    vertical-align: middle;
}
